.formWrapper{
    background-color: #ad9551;
    width: 40rem;
    height: 35rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

form button{
    height: 3rem;
    width: 7rem;
    border: none;
    margin: auto;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover{
    border-radius: 10%;
    border: 1px solid black;
    color: #ad9551;
    font-size: 1.2rem;
    transform: scale(1.2);
    transition: 500ms ease-in-out;
}

h2{
    text-align: center;
    margin-top: .5rem;
}
form input{
    margin: 2rem;
    width: 20rem;
    height: 3rem;
    padding: .5rem;
}

textarea{
    padding: .5rem;
}

fieldset{
    display: flex;
    flex-direction: column;
}