.heroSectionWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 83%;
    height: 27rem;
    opacity: .9;
}

.houseImage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -2;
    opacity: .4;
}

.linebrk{
    width: 82.7%;
    margin: auto;
}

.place{
    font-family: charmonman;
    font-size: 1rem;
    color: #000000;
    margin-left: 1rem;
    animation: shine 2s forwards, flicker 3s infinite;
    position: absolute;
    left: 6rem;
    top: -.5rem;
    width: 4rem;
    opacity: 1;
    background-color: #000000;
    display: flex;
    border-radius: 0 1rem 1rem 0;
}

.meets{
    font-family: charmonman;
    font-size: 3rem;
    margin-top: -4rem;
    animation: seen 2s ease-in-out normal forwards;
}

@keyframes seen {
    0%{ opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}    
}

.slidein {
    font-family: charmonman;
    font-size: 1rem;
    background-color: #000000;
    color: #000000;
    animation: slide 4s ease-in-out 1 normal forwards;
    letter-spacing: 2;
    left: 0;
    top: -.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    position: absolute;
    text-transform: uppercase;
    text-shadow: 0 0 0.6rem #c6c5c5, 0 0 1.5rem #c6c5c5,
    -0.2rem 0.1rem 1rem #000000, 0.2rem 0.1rem 1rem #000000,
    0 -0.5rem 2rem #000000, 0 0.5rem 3rem #000000;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #d7d3c6;
        text-shadow: 0 0 0.6rem #d7d3c6, 0 0 1.5rem #000000,
            -0.2rem 0.1rem 1rem #000000, 0.2rem 0.1rem 1rem #000000,
            0 -0.5rem 2rem #000000, 0 0.5rem 3rem #000000;
        }
        28%,
        33% {
        color: #949393;
        text-shadow: none;
        }
        82%,
        97% {
        color: #949393;
        text-shadow: none;
    }
}

.flicker {
animation: shine 2s forwards, blink 3s 2s infinite;
}

.fastflicker {
animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
0% {
    color: #292313;
    text-shadow: none;
}
100% {
    color: #d7d3c6;
    text-shadow: 0 0 0.6rem #d7d3c6, 0 0 1.5rem #949393,
    -0.2rem 0.1rem 1rem #000000, 0.2rem 0.1rem 1rem #000000,
    0 -0.5rem 2rem #000000, 0 0.5rem 3rem #000000;
}
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}

.gallaryContainer{
    width: 80%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}

.galleryHeaderWrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: white;
    width: 109%;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.gallery a{
    width: 6.25rem;
    height: 15.25rem;
    border-radius: 50px;
    background-image: url(../../public/Images/house/PHOTO-9.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}

.gallery a:nth-child(2){
    background-image: url(../../public//Images/house/PHOTO-10.jpg);
    background-size: cover;
    background-position: center;

}

.gallery a:nth-child(3){
    background-image: url(../../public//Images/house/PHOTO-2.jpg);
    background-size: cover;
    background-position: center;

}

.gallery a:nth-child(4){
    background-image: url(../../public//Images/house/PHOTO-1.jpg);
    background-size: cover;
    background-position: center;
}

.gallery a h3{
    color:#5f512c;
    position: absolute;
    bottom: 0;
    left: 1.8rem;
    opacity: 0;
    font-family: charmonman;
    transition: bottom 0.5s, opacity 0.5s;
}

.gallery a:hover{
    width: 18.75rem;
    cursor: pointer;
    transform: rotate(0);
    margin: 0 4rem;
}

.gallery a:hover h3{
    opacity: 1;
    bottom: 15.3rem;
    color:#292313;
}

main, 
.ourServicesWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
    row-gap: 1rem;
}

.header{
    font-family: charmonman;
    font-weight: bold;
    color: #000000;
    font-size: 2rem;
    display: flex;
    justify-items: space-evenly;
}

main p,
.ourServicesWrapper p{
    font-size: 1.5rem;
}

.welcome::first-letter {
    font-size: 3rem; 
    color: #ad9551;
    font-family: charmonman;
    line-height: 1rem;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
    column-gap: 7rem;
    margin: 5rem;
}

.buttonWrapper button{
    background-color: #ad9551;
    width:7rem;
    height: 3rem;
    cursor: pointer;
    border: none;
    transition: 500ms ease-in-out;
}

.buttonWrapper button:hover{
    color: white;
    transform: scale(1.1);
    border-radius: 1rem;

}

@media (max-width: 1100px) {
    .heroSectionWrapper {
        width: 60rem;
    }
}

@media (max-width: 980px) {
    .heroSectionWrapper {
        width: 50rem;
    }
}

@media (max-width: 820px) {
    .heroSectionWrapper {
        width: 40rem;
        row-gap: 0.5rem;
    }

    .slidein,
    .place {
        font-size: 5rem;
    }

    .heroSectionWrapper p {
        font-size: 2rem;
    }

    .slidein {
        margin-left: 6rem;
    }

    .place {
        margin-left: -3rem;
    }
}

@media (max-width: 680px) {
    .heroSectionWrapper {
        margin: auto;
        width: 30rem;
        height: 10rem;
        row-gap: 0.1rem;
    }

    .slidein {
        font-size: 2.5rem;
        position: absolute;
        top: 1rem;
        left: 5rem;
    }

    .place {
        font-size: 2.5rem;
        bottom: 2rem;
        position: absolute;
    }

    .gallaryContainer{
        padding: 1rem;
    }

    .galleryHeaderWrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        background-color: white;
        width: 109%;
    }

    .gallery a{
        width: 5.5rem;
    }

    .heroSectionWrapper p {
        font-size: 1.5rem;
        position: absolute;
        bottom: 0rem;
    }

    main{
        padding: 1rem;
    }

    main p,
    .ourServicesWrapper p{
        font-size: 1rem;
    }
    
}

@media (max-width: 530px) {
    .heroSectionWrapper {
        width: 25rem;
        height: 10rem;
    }

    .slidein {
        font-size: 1.9rem;
        position: absolute;
        top: 1rem;
        left: 3rem;
    }

    .place {
        font-size: 1.9rem;
        bottom: 3.5rem;
        position: absolute;
    }

    .heroSectionWrapper p {
        font-size: 1.5rem;
        position: absolute;
        bottom: 1rem;
    }

    main{
        padding: 2rem;
    }

    main p,
    .ourServicesWrapper p{
        font-size: .9rem;
    }

    .ourServicesWrapper{
        padding: 2rem;
    }
}
